# Environment variables declared in this file are NOT automatically loaded by Prisma.
# Please add `import "dotenv/config";` to your `prisma.config.ts` file, or use the Prisma CLI with Bun
# to load environment variables from .env files: https://pris.ly/prisma-config-env-vars.

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="POSTGRESQL_CONNECTION_STRING_HERE"

PORT=8001
FRONTEND_APP_URL="http://localhost:3000"
JWT_SECRET="XXXXXXXX-XXXXXXXXXX-XXXXXXXXXX-XXXXXXXX"

ADMIN_NAME=ADMIN-NAME
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=XXXXXXXX-XXXXXXXXXX